#navigation{
  /*float: right;*/
  position: absolute;
  top: 0em;
  right: 0em;
  /*margin: .5em 2em*/
  color: blue;
  padding: 1em 2em;

}
#navigation:hover{
  background-color: brown;
  padding-right: 2em;
  padding-top: .8em;
  /* border-radius: 2em; */
  border-bottom-left-radius: 5em;
  color: white;
}

#navigation ul{
  list-style-type: none;
}
#navigation ul a{
  text-decoration: none;
}
#mainText{
  width: 35%;
  margin: 8em 11% 0 10%;
  font-family: cursive, verdana, sans-serif ;
  font-size: 1em;
  padding: 5px 5px 5px 20px;
  /*border: 1px solid grey;*/
  border-radius: 10px;
  box-shadow: -10px 10px 20px grey;
}
#aWorld{
  width: 90%;
  padding: 3%;
  margin: auto;
  border-radius: 5px;
  background-color: brown;
  box-shadow: -5px 5px 5px grey;
  color: white;
}
#mainText a{
  color: red;

  background-image: url('greenglobe.png');
  /*background-size: cover;
  background-position: 100% 0;*/
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;

}
#xiLogo{
  width: 15em;
  margin-top: 1.2em;
}
#africaLogo{
  width: 25em;
  float: right;
  margin-top: 9em;
  margin-right: 10em;
}
body{
  /*background-color: #edd3dc;
  background-image: url('greenglobe.png');
  background-size: cover;
  background-position: 100% 0;
  background-size: 60%;
  background-repeat: no-repeat;*/

}
#pride{
  color: #549534;
}

/* Volunteer Page */
#volunteerCategories{
  /* width: 70%; */
  /* margin: auto; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.volSection{
  width: 20%;
  float: left;
  margin-left: 7%;
  padding: 2%;
  text-align: center;
  background-color: #549534;
  border-radius: 10%;
  height: 15em;
  color: white;
  font-family: cursive, verdana, sans-serif ;
  font-size: 1em;
  box-shadow: -10px 10px 20px grey;
}
.volSection:hover{
  background-color: brown;
  box-shadow: -10px 20px 20px grey;
  position: relative;
  top: -10px;
}
